
#img1 {
    background: transparent no-repeat center;
    background-size: cover;
    max-width: 100%;
    height: auto;
    margin: auto
  }

/* div{
    border: 1px solid black;
} */


#div1 {
    display: flex;
    text-align: center;
    align-items: center;
  }
#div2 {
    display: flex;
    text-align: center;
    align-items: center;
  }

#div3 {
    font: optional;
    text-align: center;
    align-items: center;
  }

  .table>tbody>tr>td, .table>tbody>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
  }
  
.titulo1{
    font-size: 35px;
    font-weight: bold;
}
.body1{
    font-size: 20px;
}

.titulo2{
    font-size: 25px;
    font-weight: bold;
    
}

.body2{
    font-size: 20px;
}
.text1{
    font-size: 20px;
    text-align: justify;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 56px 0 56px 0;
}

/* Dark-Mode */

/* Label Button Toggle */
.label-toggle {
    width: 50px;
    height: 20px;
    position: relative;
    display: inline-block;
    background: #dad0d0;
    border-radius: 20px;
    box-shadow: inset 0px 2.5px 7.5px rgba(0, 0, 0, 0.4) inset 0px -2.5px 7.5px rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.label-toggle:after {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 2.5px;
    left: 3.5px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 45px;
    box-shadow: 0px 2.5px 5px rgba(0, 0, 0, 0.2);
}

.in-toggle {
    width: 0;
    height: 0;
    visibility: hidden;
}

.in-toggle:checked + .label-toggle {
    background: #3f3f3f;
}

.in-toggle:checked + .label-toggle:after {
    left: 45px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}

.label-toggle, .label-toggle:after {
    transition: 0.3s;
}

.label-toggle:active:after {
    width: 45px;
}

/* Titles-nav-bar */

  
  #active {
      color: rgb(255, 0, 0);
  }
  
  .navbar-nav > li:hover >a,
  .navbar-nav > li.active >a{
    color: red;
  }
  
  /* button default
  ---------------------------- */
  .btn-default {
      color: #333;
      background-color: #f8f9fa;
      border-color: #ccc;
  }
  
      .btn-default:focus {
          color: #333;
          background-color: #e6e6e6;
          border-color: #8c8c8c;
      }
  
      .btn-default:active,
      .btn-default:hover {
          color: #333;
          background-color: #e6e6e6;
          border-color: #adadad;
      }
  
  /* button-xs
  ---------------------------- */
  .btn-group-xs > .btn, .btn-xs {
      padding: 1px 5px;
      font-size: 12px;
      line-height: 1.5;
      border-radius: 3px;
  }
  
  li.page-item a {
      font-size: 0.85rem;
  }