body {
    font-family: 'Open Sans', sans-serif;
    margin: 56px 0 56px 0;
    
}


/* Dark-mode Custom */

/* Light-Theme */
body.light-mode {
    background-image: linear-gradient(transparent, rgb(255, 255, 255) 80%), url(/imagens/NBAGrad.jpg);
    background-position: bottom center;
    color: #000000;
}

.card.light-mode {
    border-radius: 5px;
    background-color: #e4e4e4;
    color: #222121;
}
.navbar.light-mode {
    background-color: #e8e8e8;
}

.card-header.light-mode {
    background-color: #c6c5c5;
    color: #000000;
}

.card-body.light-mode {
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #e4e4e4;
    color: #000000;
}
a.light-mode{
    color: rgb(17, 16, 16);
    background-color: rgb(255, 255, 255);
}

button.light-mode {
    color: rgb(150, 149, 149);
    background-color: rgb(0, 0, 0);
}

.table.light-mode {
    background-color: #8c8c8c;
    color: #000000;
}

.modal-header.light-mode {
    background-color: #adadad;
    color: #000000;
}

.modal-title.light-mode {
    background-color: #adadad;
    color: #000000;
}

.modal-body.light-mode {
    background-color: #adadad;
    color: #000000;
}

.offcanvas-start.light-mode {
    background-color: #828282;
    color: #000000;
}

.dropdown-menu.dark-mode {
    background-color: #e8e8e8;
    color : rgb(2, 2, 164);
}

/* Dark-Theme */
body.dark-mode {
    background-image: linear-gradient(transparent, rgb(10, 10, 10) 50%), url(/imagens/NBAGrad.jpg);
    background-position: bottom center;
    color: #f4f4f4;
}

.navbar.dark-mode {
    background-color: #555454;
}

.card.dark-mode {
    border-radius: 5px;
    background-color: #1c1c1c;
    color: #ffffff;
}

.card-header.dark-mode {
    background-color: #424242;
    color: #ffffff;
}

.card-body.dark-mode {
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #424242;
    color: #ffffff;
}
a.dark-mode{
    color: rgb(150, 149, 149);
    background-color: #1c1c1c;
}

button.dark-mode {
    color: rgb(150, 149, 149);
    background-color: rgb(0, 0, 0);
}

.table.dark-mode {
    background-color: rgba(0, 0, 0, 0);
    color: #ccc;
}

.modal-header.dark-mode {
    background-color: #414141;
    color:#131313
}

.modal-body.dark-mode {
    background-color: #171717;
    color:#cecece
}

.offcanvas-start.dark-mode {
    background-color: #252525;
    color: #f3f3f3;
}

.dropdown-menu.dark-mode {
    background-color: #555454;
    color : rgb(2, 2, 164);
}

/* Label Button Toggle */
.label-toggle {
    width: 50px;
    height: 20px;
    position: relative;
    display: inline-block;
    background: #dad0d0;
    border-radius: 20px;
    box-shadow: inset 0px 2.5px 7.5px rgba(0, 0, 0, 0.4) inset 0px -2.5px 7.5px rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.label-toggle:after {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 2.5px;
    left: 3.5px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 45px;
    box-shadow: 0px 2.5px 5px rgba(0, 0, 0, 0.2);
}

.in-toggle {
    width: 0;
    height: 0;
    visibility: hidden;
}

.in-toggle:checked + .label-toggle {
    background: #3f3f3f;
}

.in-toggle:checked + .label-toggle:after {
    left: 45px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}

.label-toggle, .label-toggle:after {
    transition: 0.3s;
}

.label-toggle:active:after {
    width: 45px;
}

.carousel-inner { padding: 0 !important; }

/* Titles-nav-bar */
.navbar-nav > li > a {
    margin-right: 8px;
    font-weight: bold;
    color: rgb(2, 2, 164);
}

#active {
    border-radius: 20%;
    background-color: rgb(228, 6, 6);
    outline: solid 3px black;
    box-shadow: none;
    color: rgb(2, 2, 164);
}

.navbar-nav > li > a {
    transition: none;
}

.dropdown-menu > a:hover {
    border-radius: 20%;
    background-color: rgb(228, 6, 6);
    outline: solid 3px black;
    box-shadow: none;
    transition: none;
    color: rgb(2, 2, 164);
}

.navbar-nav > li:hover > a,
.navbar-nav > li.active > a {
    border-radius: 20%;
    background-color: rgb(228, 6, 6);
    outline: solid 3px black;
    box-shadow: none;
    transition: none;
    color: rgb(2, 2, 164);
}

/* button default
---------------------------- */
.btn-default {
    color: #333;
    background-color: #f8f9fa;
    border-color: #ccc;
}

    .btn-default:focus {
        color: #333;
        background-color: #e6e6e6;
        border-color: #8c8c8c;
    }

    .btn-default:active,
    .btn-default:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }

/* button-xs
---------------------------- */
.btn-group-xs > .btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

li.page-item a {
    font-size: 0.85rem;
}


.carousel-item {
    z-index: -100;
    height: 600px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

    .carousel-item:nth-child(1) {
        background-image: url('https://cdn.nba.com/manage/2023/12/IST-Champions-Lakers16x9.png');
    }

    .carousel-item:nth-child(2) {
        background-image: url('https://media.foxbusiness.com/BrightCove/854081161001/202003/1164/854081161001_6141442585001_6141440893001-vs.jpg');
    }

    .carousel-item:nth-child(3) {
        background-image: url('https://news.cgtn.com/news/2022-04-03/NBA-highlights-on-April-2-Do-Jazz-know-how-to-deal-with-big-lead--18VPLVbjbYk/img/21d89522151e413f94ef4ba8e6626756/21d89522151e413f94ef4ba8e6626756.jpeg');
    }

    .carousel-item:nth-child(4) {
        background-image: url('https://cdn.nba.com/manage/2023/11/GettyImages-1730506370-1-scaled-e1700674286240-1568x882.jpg');
    }

    .carousel-item:nth-child(5) {
        background-image: url('https://cdn.nba.com/manage/2023/11/GettyImages-1790167479-1-1568x882.jpg');
    }
    .carousel-item:nth-child(6) {
        background-image: url('https://images.axios.com/Tussnpsai2h2JPyupEClibRovfc=/0x0:1920x1080/1920x1080/2022/02/22/1645547797667.jpg?w=1920');
    }
   

a {
    text-decoration: none;
    color: black;

}

.card-img-top {
    height: 200px;
    width:auto;
}

.title {
    font-size: 35px;
    text-align: center;
    font-weight: bolder;
}


#cardclick:hover {
    box-shadow: 0px 8px 15px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
  }

.text {
    text-align: justify;
}

/*  #Body-arenas {
    background-image: url(https://i.redd.it/m6up7z4yphh31.jpg);
    background-position: top center;
}


#Body-players {
    background-image: url(https://wallpapers.com/images/featured/best-nba-zn90xecrm49mlwbx.jpg);
    background-position: top center;
    background-repeat: repeat-y;
}

#Body-teams {
    background-image: url(https://wallpapercave.com/wp/wp1827440.jpg);
    background-position: top center;
    background-repeat: no-repeat;
} */

#Body-FAV {
    background-image: url(https://w0.peakpx.com/wallpaper/657/828/HD-wallpaper-nba-logo-blue-stone-background-nba-grunge-logo-national-basketball-association-nba-emblem-usa-basketball.jpg);
    background-position: top center;
}

#Body-STATS {
    background-image: url(imagens/wp1827457.jpg);
    background-position: top center;
} 

#table {
    
    font-size: medium;
}
 
.roundedr {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.imgtable {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    
}
.flags {
    vertical-align: middle;
    width: 70px;
    height: 40px;
    
}

#map {
    height: 500px;
    width: auto;
}

#mapWheather {
    height: 250px;
    width: auto;
}


#adicionar1,#adicionar2,#adicionar3{
    text-align: center;
    align-items: center;
}


#imgMAPS {
    background: transparent no-repeat center;
    background-size: cover;
    width: 1000px;
    border-radius: 5px;
  }

#img1 {
    background: transparent no-repeat center;
    background-size: cover;
    width: 300px;
    border-radius: 5px;
  }

/* div{
    border: 1px solid black;
} */


#div1 {
    display: flex;
    text-align: center;
    align-items: center;
  }
#div2 {
    display: flex;
    text-align: center;
    align-items: center;
  }

#div3 {
    font: optional;
    text-align: center;
    align-items: center;
  }

  #table_lay>tbody>tr>td, #table_lay>tbody>tr>th, #table_lay>thead>tr>td, #table_lay>thead>tr>th {
    border: none;
    background-color: rgba(0, 0, 0, 0);
  }
  #table_1>tbody>tr>td, #table_1>tbody>tr>th, #table_1>thead>tr>td, #table_1>thead>tr>th {
    border: none;
    background-color: rgba(0, 0, 0, 0);
  }
  
.titulo1{
    font-size: 35px;
    font-weight: bold;
}
.body1{
    font-size: 20px;
}

.titulo2{
    font-size: 25px;
    font-weight: bold;
    
}

.body2{
    font-size: 20px;
}
.text1{
    font-size: 20px;
    text-align: justify;
}
    #search{
        max-width: 200px ;
    }
    .ui-autocomplete {
        max-height: 200px; /* Set the maximum height */
        overflow-y: auto; /* Enable vertical scrolling */
        max-width: 200px;
        background-color: white;
        position: absolute;
        top: 100%;
        z-index: 9999 !important;        
        left: 0;
        float: left;
        padding: 4px 4px;
        margin: 0 0 10px 25px;
        list-style: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        border-right-width: 2px;
        border-bottom-width: 2px;
    }

    .ui-autocomplete .ui-menu-item {
        font-size: medium;
        list-style-type: none;

    }

    .ui-autocomplete .ui-menu-item a {
        text-decoration: none; /* Remove underlines from links */
    }

    .ui-autocomplete .ui-menu-item:hover {
        background-color: #f0f0f0; /* Add hover background color */
        cursor: pointer;
    }

    

    

