body {
    font-family: 'Open Sans', sans-serif;
    margin: 56px 0 56px 0;
}

/* Dark-Mode */

/* Label Button Toggle */
.label-toggle {
    width: 50px;
    height: 20px;
    position: relative;
    display: inline-block;
    background: #dad0d0;
    border-radius: 20px;
    box-shadow: inset 0px 2.5px 7.5px rgba(0, 0, 0, 0.4) inset 0px -2.5px 7.5px rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.label-toggle:after {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 2.5px;
    left: 3.5px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 45px;
    box-shadow: 0px 2.5px 5px rgba(0, 0, 0, 0.2);
}

.in-toggle {
    width: 0;
    height: 0;
    visibility: hidden;
}

.in-toggle:checked + .label-toggle {
    background: #3f3f3f;
}

.in-toggle:checked + .label-toggle:after {
    left: 45px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}

.label-toggle, .label-toggle:after {
    transition: 0.3s;
}

.label-toggle:active:after {
    width: 45px;
}

.carousel-inner { padding: 0 !important; }

/* text carousel */
#back-color {
    color: black;
    font-weight: bold;
    background-color: lightgrey;
    opacity: 0.5;
}
/* Titles-nav-bar */
.navbar-nav > li >a{
  color: blue;
}

#active {
    color: rgb(255, 0, 0);
}

.navbar-nav > li:hover >a,
.navbar-nav > li.active >a{
  color: red;
}

/* button default
---------------------------- */
.btn-default {
    color: #333;
    background-color: #f8f9fa;
    border-color: #ccc;
}

    .btn-default:focus {
        color: #333;
        background-color: #e6e6e6;
        border-color: #8c8c8c;
    }

    .btn-default:active,
    .btn-default:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }

/* button-xs
---------------------------- */
.btn-group-xs > .btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

li.page-item a {
    font-size: 0.85rem;
}


.carousel-item {
    z-index: -100;
    height: 600px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

    .carousel-item:nth-child(1) {
        background-image: url('https://cdn.nba.com/manage/2023/11/USATSI_21963262-784x441.jpg');
    }

    .carousel-item:nth-child(2) {
        background-image: url('https://cdn.nba.com/manage/2023/11/GettyImages-1797516862.jpg');
    }

    .carousel-item:nth-child(3) {
        background-image: url('https://cdn.nba.com/manage/2023/11/banchero-784x441.jpg');
    }

    .carousel-item:nth-child(4) {
        background-image: url('https://cdn.nba.com/manage/2023/11/GettyImages-1730506370-1-scaled-e1700674286240-1568x882.jpg');
    }

    .carousel-item:nth-child(5) {
        background-image: url('https://cdn.nba.com/manage/2023/11/GettyImages-1790167479-1-1568x882.jpg');
    }
a{
    text-decoration: none;
    color: black;

}

.img-thumbnail {
    mix-blend-mode: multiply;
}

.card-img-top{
    height: 200px;
    width:auto;
}

.title{
    font-size: 35px;
    text-align: center;
    font-weight: bolder;
}

#cardbody{
    background-color: whitesmoke;
}

#cardclick:hover{
    box-shadow: 0px 8px 15px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
  }
.text{
    text-align: justify;
}

#Body-arenas {
    background-image: url(https://i.redd.it/m6up7z4yphh31.jpg);
    background-position: top center;
}

/*
#Body-players {
    background-image: url(https://wallpapers.com/images/featured/best-nba-zn90xecrm49mlwbx.jpg);
    background-position: top center;
    background-repeat: no-repeat;
} */

#Body-teams{
    background-image: url(https://wallpapercave.com/wp/wp1827440.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

#Body-STATS {
    background-image: url(https://w0.peakpx.com/wallpaper/657/828/HD-wallpaper-nba-logo-blue-stone-background-nba-grunge-logo-national-basketball-association-nba-emblem-usa-basketball.jpg);
    background-position: top center;
}

#table {
    font-weight: bolder;
    font-size: medium;
}

.rounded{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}